body {
    background-color: white;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: small;
}

#the-input {
    display:inline-block;
    position:absolute;
    background-color: grey;
    padding:5px;
    border-radius:3px;
    box-shadow: 3px 3px 2px #BBB;
}
#the-input-hide-button {
  height:16px;
  font-size:9px;
  width:40px;
}
#the-input > .hidable {
  margin-top:5px;
}
#the-input > .hidable.hide {
  display:none;
}

#the-ortho-checkbox {
  zoom:2;
  height:10px;
  margin:0px;
  position:relative;
  top:3px;
  left:1px;
}
