body {
    background-color: white;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: small;
}

#the-input {
    display:inline-block;
    position:absolute;
    background-color: grey;
}
